.\#product-gallery-image-zoomer {
  --scale: 1.5;
  --x: 100;
  --y: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--glob-border-radius-base);
  overflow: hidden;
  opacity: 0;
  z-index: 2;
  background-color: var(--color-g-fg);
}
.\#product-gallery-image-zoomer:hover {
  opacity: 1;
}
.\#product-gallery-image-zoomer-img {
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  width: calc(100% * var(--scale));
  height: auto;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  transform: translate(calc(var(--x) * -1%), calc(var(--y) * -1%));
}